---
layout: default
---

<p> Hey, I'm Dennis, the guy behind Roppers. </p> 

<p> I put all the things I've written about Roppers and security in one place so you can hunt them down easier.</p>

<h4> <a href="https://www.hoppersroppers.org/roadmap/"> Ropper's Fundamentals Roadmap </a> </h2>
    <p> Our most popular post on how to go from zero to hero using free online resources. </p>
<h4> <a href="https://www.hoppersroppers.org/howtohack/"> Ropper's Version of the Hacker How To </a> </h2>
    <p> Our take on the hacker mentality and how to become a hacker without being elitist about it. </p>
<br>

<div id="content" class="content">
    <h3>Recent Posts</h3>
    <ul class="category recent-posts">       
        {% for post in site.posts limit:5  %}
        {% unless post.draft %}

        {% if post.menutitle %}
        {% assign title = post.menutitle %}
        {% else %}
        {% assign title = post.title %}
        {% endif %}

        <li>
            <div class="article">
                <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
                    <header class="post-header">
                        <span class="title"><a itemprop="name" href="{{ post.url | absolute_url }}" title="{{ title }}">{{ title }}</a></span>
                        <time class="date" itemprop="datePublished" datetime="{{post.date | date: "%Y-%m-%d"}}">{{post.date | date: "%B %e, %Y"}}</time>
                    </header>
                </article>
            </div>
        </li>
        {% endunless %}
        {% endfor %}
    </ul>
    
    
    
    <h3>Reference Pages</h3>
    <ul class="category pages">       
        {% for post in site.pages %}
        {% if post.layout == 'post' %}
        {% unless post.draft %}

        {% if post.menutitle %}
        {% assign title = post.menutitle %}
        {% else %}
        {% assign title = post.title %}
        {% endif %}

        <li>
            <div class="article">
                <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
                    <header class="post-header">
                        <span class="title"><a itemprop="name" href="{{ post.url | absolute_url }}" title="{{ title }}">{{ title }}</a></span>
                    </header>
                </article>
            </div>
        </li>
        {% endunless %}
        {% endif %}
        {% endfor %}
    </ul>


    {% assign sorted_cats = site.categories | sort %}
    {% for category in sorted_cats %}
    {% assign sorted_posts = category[1] | reversed %}
    <h3 id="{{category[0] | uri_escape | downcase | slugify }}">{{category[0] | camelcase }}</h3>
    <ul class="category {{category[0] | uri_escape | downcase | slugify}}">  
        {% for post in sorted_posts %}
        {% unless post.draft %}

        {% if post.menutitle %}
        {% assign title = post.menutitle %}
        {% else %}
        {% assign title = post.title %}
        {% endif %}

        <li>
            <div class="article">
                <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
                    <header class="post-header">
                        <span class="title"><a itemprop="name" href="{{ post.url | absolute_url }}" title="{{ title }}">{{ title }}</a></span>
                        <time class="date" itemprop="datePublished" datetime="{{post.date | date: "%Y-%m-%d"}}">{{post.date | date: "%B %e, %Y"}}</time>
                    </header>
                </article>
            </div>
        </li>
        {% endunless %}
        {% endfor %}
    </ul>
    {% endfor %}



</div>